<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Pie de pagina</title>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="footer.css">
    <script src="https://kit.fontawesome.com/eb496ab1a0.js" crossorigin="anonymous"></script>
</head>
<body>
<!--::::Pie de Pagina::::::-->
    <footer class="pie-pagina">
        <div class="grupo-1">
            <div class="box">
                <figure>
                    <a href="">
                        <img src="" alt="Logo del Grupo">
                    </a>
                </figure>
            </div>
            <div class="box">
                <h2>SOBRE NOSOTROS</h2>
                <p>Somos un grupo de cuatro programadores que busca ofrecer por medio de este sitio web, una plataforma de peliculas para que el usuario disfrute y se sienta satisfecho.</p>
            </div>
            <div class="box">
                <h2>SEGUINOS</h2>
                <div class="red-social">
                    <a href="error404.html" class="fa fa-facebook"></a>
                    <a href="error404.html" class="fa fa-instagram"></a>
                    <a href="error404.html" class="fa fa-twitter"></a>
                    <a href="error404.html" class="fa fa-youtube"></a>
                </div>
                <div class="fa footer">
                    <p>Gral. Paz 576, San Miguel de Tucumán, Tucumán.</p>
                </div>
            </div>
        </div>
        <div class="grupo-2">
            <small>&copy; 2023 <b>Rolling Code</b> - Todos los Derechos Reservados.</small>
        </div>
    </footer>
</body>
</html>